@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 80%;
    color: wheat;
    background-color: #171616;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    background-image: linear-gradient(45deg , orange , yellow 45% , magenta);
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgcol {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}
a{
    color: aliceblue;
    text-decoration: none;
    
}

.trademark{
    width: 20px;
    height: 20px;
}
  